@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');
@import 'meyers-reset.css';
@import 'reset.css';

:root {
	--orange: #d8782e;
	--white: #fff;
	--slate-blue: #455f6c;
	--green: #cab937;
	--purple: #795370;
}

/* Typepography */

* {
	scroll-behavior: smooth;
}

.heading {
	font-family: 'Short Stack', cursive;
	padding: 15px 0;
}

.site-heading-text span {
	display: none;
}

.big-text {
	font-size: 40px;
	font-weight: 900;
}

.medium-text {
	font-size: 30px;
	font-weight: 900;
}

.small-text {
	font-size: 17px;
}

p {
	line-height: 1.5;
	font-family: 'short stack', 'Helvetica Neue', Helvetica, sans-serif;
}

.husky i {
	color: var(--orange);
}
.kitty i {
	color: var(--purple);
}

.pom i,
.pets-of-the-week i {
	color: var(--green);
}

/* Site Title and Logo Heading */

.pug,
.kitty-top,
.dog-house,
.additional-text {
	display: none;
}

nav {
	position: sticky;
	top: 0;
	z-index: 90;
}

nav.site-header {
	display: flex;
	padding: 10px;
	background: url('../images/humane.png') no-repeat center center/cover;
}

.site-header .site-logo {
	width: 100px;
}

.site-heading-text {
	padding: 10px 10px 0 10px;
}

/* landing page */

.site-landing {
	background: url('../images/header-wall.png') no-repeat center center/cover;
	padding: 15px;
}

.site-landing .landing-text {
	margin-top: 18px;
	padding: 10px 15px;
	color: var(--white);
	text-align: center;
	background-color: rgba(216, 120, 46, 0.9);
}

.site-landing .landing-image {
	height: 250px;
}

/* Site Content */

.pets-of-the-week {
	background-color: var(--slate-blue);
	color: var(--white);
	text-align: center;
}

.site-content .pet {
	padding: 20px;
}

.site-content .inner-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.pet .mugshot {
	border-radius: 50%;
	width: 200px;
	border: 2px solid white;
}

.pet a {
	font-family: 'Itim', cursive;
	font-size: 23px;
	color: var(--orange);
	margin: 20px auto;
	padding: 15px;
	border: 3px solid var(--orange);
	width: min(80%, 275px);
}

.husky {
	background-color: var(--purple);
}

.kitty {
	background-color: #cfcac4;
}

.pom {
	background-color: var(--slate-blue);
}

.kitty a {
	color: var(--purple);
	border-color: var(--purple);
}

.kitty .pet-description {
	color: #333;
}

.pom a {
	color: var(--green);
	border-color: var(--green);
}

/* footer */

.footer {
	background-color: var(--orange);
	color: var(--white);
	padding: 10px 15px;
}

.footer p {
	margin-top: 15px;
}

.footer p:last-child {
	margin-bottom: 20px;
}

/* hover */

.pet-info a:hover {
	background-color: var(--green);
	color: var(--white);
	scale: 1.05;
}

.kitty a:hover {
	background-color: var(--orange);
}

.pom a:hover {
	background-color: var(--purple);
}

/* Media Queries */

/* smaller than 350px */
@media (max-width: 350px) {
	.site-header .site-logo {
		width: 90px;
	}

	.site-header .site-heading-text {
		font-size: 35px;
	}
}

@media (min-width: 500px) {
	.inner-column {
		width: min(95%, 600px);
		margin: 0 auto;
	}
	nav.site-header {
		padding: 15px;
		position: sticky;
		top: 0;
	}

	.site-header h1.site-heading-text {
		display: flex;
		align-items: center;
	}
}

/* tablet size */
@media (min-width: 768px) {
	.site-content .inner-column,
	.site-landing .inner-column {
		display: flex;
		flex-direction: row;
	}

	.site-landing {
		height: 35vh;
		display: flex;
		align-items: center;
	}

	.site-landing .inner-column {
		width: 95%;
	}

	.site-landing picture:first-child {
		border: 5px solid var(--purple);
		flex: 1;
	}

	.additional-text {
		display: block;
	}

	.site-landing .landing-text {
		flex: 1;
		margin: 0 0 0 5px;
		font-size: 16px;
		padding: 10px;
	}

	.pet-info {
		margin-left: 15px;
	}

	.pet-info p {
		text-align: left;
	}

	.footer {
		position: relative;
	}

	.dog-house {
		display: block;
		position: absolute;
		width: 280px;
		bottom: 3%;
		right: min(5%, 20px);
	}
}

/* Desktop */

@media (min-width: 1000px) {
	.site-landing {
		height: 45vh;
	}
	.site-landing picture:first-child {
		display: flex;
	}
	picture:first-child img.landing-image {
		height: auto;
	}
	.site-heading-text span {
		display: inline-block;
	}

	.big-text {
		font-size: 42px;
	}

	.pets-of-the-week h2 {
		font-size: 35px;
	}
	.site-landing .landing-text {
		font-size: 20px;
		padding: 15px;
	}

	.additional-text {
		margin-top: 15px;
	}
}

@media (min-width: 1200px) {
	.site-heading-text {
		font-size: 50px;
	}
	.site-landing {
		height: 50vh;
	}

	.site-landing .inner-column {
		width: min(80%, 1000px);
		height: 400px;
		z-index: 50;
	}

	.site-landing picture:first-child {
		display: flex;
	}
	picture:first-child img.landing-image {
		height: auto;
	}

	.site-content .pets-section {
		display: flex;
	}

	.pets-section .pet {
		flex: 1;
	}

	.pet .inner-column {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.pom {
		background-color: var(--green);
	}

	.pom a {
		color: var(--slate-blue);
		border-color: var(--slate-blue);
	}

	.pom i {
		color: var(--slate-blue);
	}

	.pet-info a {
		width: min(95%, 275px);
	}

	header .site-landing {
		position: relative;
	}

	.site-landing .pug,
	.site-landing .kitty-top {
		display: block;
		position: absolute;
		bottom: 0;
		width: 300px;
		z-index: 50;
	}

	.site-landing .kitty-top {
		right: 0;
		z-index: 0;
	}
}
