nav.site-header {
	padding: 15px;
	position: sticky;
	top: 0;
}
.site-header img {
	width: 100px;
}

.site-heading {
	font-size: min(3.5rem, 50px);
}

.site-content {
	max-width: 100%;
}
.pet {
	max-width: 100%;
}

.inner-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: min(85%, 900px);
	margin: 0 auto;
}

/* .kitty .pet-info {
		align-items: flex-end;
		padding-right: 20px;
	} */

section.pet {
	align-items: start;
}
