@media (min-width: 500px) {
	.inner-column {
		width: min(90%, 1000px);
		margin: 0 auto;
	}
	nav.site-header {
		padding: 15px;
		position: sticky;
		top: 0;
	}

	.site-header h1.site-heading-text {
		display: flex;
		align-items: center;
	}
}

@media (min-width: 768px) {
	/* .pet .inner-column {
		display: flex;
		flex-direction: column;
  } */
	.site-header h1.site-heading-text {
		color: red;
	}
}
